# ~/.profile: executed by the command interpreter for login shells.
# This file is not read by bash(1), if ~/.bash_profile or ~/.bash_login
# exists.
# see /usr/share/doc/bash/examples/startup-files for examples.
# the files are located in the bash-doc package.

# the default umask is set in /etc/profile; for setting the umask
# for ssh logins, install and configure the libpam-umask package.
#umask 022

# if running bash
if [ -n "$BASH_VERSION" ]; then
    # include .bashrc if it exists
    if [ -f "$HOME/.bashrc" ]; then
        . "$HOME/.bashrc"
    fi
fi

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/bin" ] ; then
    PATH="$HOME/bin:$PATH"
fi

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/.local/bin" ] ; then
    PATH="$HOME/.local/bin:$PATH"
fi

# Set color codes
red='\033[0;31m'
green='\033[0;32m'
blue='\033[0;34m'
yellow='\033[0;33m'
magenta='\033[0;35m'
cyan='\033[38;5;36m'
white='\033[0;37m'
RESET='\033[0m'

# Set shell color scheme
PS1="\[\e]0;\u@\h: \w\a\]${debian_chroot:+($debian_chroot)}\[${{ color_schema }}\]\u@\h\[\033[00m\]:\[\033[01;34m\]\w\[\033[00m\]\$"

# Display welcome message
#/etc/update-motd.d/00-header
#/etc/update-motd.d/10-system-info