#!/bin/bash

# Set color codes
red='\033[0;31m'
green='\033[0;32m'
blue='\033[0;34m'
yellow='\033[0;33m'
magenta='\033[0;35m'
cyan='\033[38;5;36m'
white='\033[0;37m'
RESET='\033[0m'

cat {{ ansible_user_dir }}/.images/{{ image }} | while read line; do echo -e "${{ image_color_schema }}\t${line}$RESET"; done
