#!/bin/bash

# Set color codes
RED='\033[0;31m'
GREEN='\033[0;32m'
BLUE='\033[0;34m'
YELLOW='\033[0;33m'
MAGENTA='\033[0;35m'
CYAN='\033[38;5;36m'
WHITE='\033[0;37m'
RESET='\033[0m'

{% if env == "prod" %}
  env_color=${RED}
  PS1="\[\e]0;\u@\h: \w\a\]${debian_chroot:+($debian_chroot)}\[\033[01;31m\]\u@\h\[\033[00m\]:\[\033[01;34m\]\w\[\033[00m\]\$"
{% elif env == "dev" %}
  env_color=${GREEN}
  PS1="\[\e]0;\u@\h: \w\a\]${debian_chroot:+($debian_chroot)}\[\033[01;32m\]\u@\h\[\033[00m\]:\[\033[01;34m\]\w\[\033[00m\]\$"
{% endif %}

# Welcome message
echo ""
echo ""
echo -e "${CYAN}\t⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⣦⣄⠀⠀⡄\t\t${env_color}Hostname${RESET}:      $( hostname )"
echo -e "${CYAN}\t⠀⠀⠀⠀⠀⠀⠀⠀⠀⢤⠄⣸⣿⣿⣷⡔\t\t${env_color}Date${RESET}:          $( date '+%Y-%m-%d %H:%M:%S' )"
echo -e "${CYAN}\t⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢣⡀⠈⠻⢿⣿⠇\t\t${env_color}Uptime${RESET}:        $( uptime -p )"
echo -e "${CYAN}\t⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣾⣿⣦⣵⡤⢿⠃\t\t${env_color}OS version${RESET}:    $( grep PRETTY_NAME /etc/os-release | cut -d'"' -f2 )"
echo -e "${CYAN}\t⠀⠀⠀⠀⠀⠀⠀⣷⣄⢠⣿⣿⡟⠻⠇⣠⡾⠀⠀⠀⢠⡀\t\t${env_color}User${RESET}:          $( whoami )"
echo -e "${CYAN}\t⠀⠀⠀⠀⠀⠀⠀⣌⡛⣟⣿⣿⣧⣬⣛⢩⣴⠆⠀⠀⢸⣇⢠⣤\t${env_color}IP Address${RESET}:    $( ip addr show eth0 | grep 'inet ' | awk '{print $2}' )"
echo -e "${CYAN}\t⠀⠀⠀⠀⠀⠀⠀⣩⣾⣿⣿⣿⣿⣿⣿⣷⣴⡛⠀⠀⢀⣾⠘⠁\t${env_color}Environment${RESET}:   ${env_color}{{ env }}${RESET}"
echo -e "${CYAN}\t⠀⠀⠀⠀⠀⣠⣾⣿⠟⢻⢿⣿⣿⠋⠉⠉⢿⣿⣷⣔⢿⠇"
echo -e "${CYAN}\t⠀⠀⠀⢀⣼⣿⣿⠏⠀⡀⠀⠈⠁⠀⠀⠀⣠⡹⣿⣿⣷⣄"
echo -e "${CYAN}\t⠀⠀⣠⣿⣿⣿⡟⠀⠀⢿⣄⠀⠀⠀⠀⠴⢿⡷⢹⣿⣿⣿⣷⡄"
echo -e "${CYAN}\t⠀⢰⣿⣿⣿⣿⡇⠀⠀⠀⠉⣿⡎⠉⠛⠛⠻⠿⢈⣿⣿⣿⣿⣿⡄"
echo -e "${CYAN}\t⠀⣿⣿⣿⣿⣿⣷⡀⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⣸⣿⣿⣿⣿⣿⣷"
echo -e "${CYAN}\t⡀⣿⣿⡟⣿⡏⢻⡿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠰⢿⠃⣿⣿⢿⣿⣿⠚"
echo -e "${CYAN}\t⠀⠿⣿⡇⢻⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⡿⠸⠿⠈"
echo -e "${CYAN}\t⠀⠀⠈⠁⠈⠁"
echo ""
echo ""
